<div id="video-background">
  <%= video_tag "Juan_Cooking01.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>

<span class="logo">Let's Cook</span>

<img src="" alt="" />

<div class="title">
  <h1 id="head_title">What would you like to cook today?</h1>
</div>
<div class="contain">
  <form class="container">
    <div class="form-group text-center">
      <div class="searchbar">
        <input type="search" name="food" value="" class="form-control">
      </div>
      <p></p>
      <button type="search" name="button" class="btn btn-info btn-lg">Search</button>
    </div>
  </form>
</div>

<% unless @video.nil? %>
  <div class="videoadd col-md-12">
    <% @video.each_with_index do |key, index| %>
      <div class="col-md-2 <%= (index == 0) ? 'col-md-offset-1' : '' %>">
        <a class="youtube-link" href="https://www.youtube.com/watch?v=<%= key["id"]["videoId"] %>" data-lity>
          <img class="food_image" src="<%= key["snippet"]["thumbnails"]["high"]["url"] %>" alt="recipe image" />
          <p class="food_title"> <%= key["snippet"]['title'] %> </p>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
